[submodule "external/dartt-protocol"]
	path = external/dartt-protocol
	url = https://github.com/ocanath/dartt-protocol
[submodule "external/byte-stuffing"]
	path = external/byte-stuffing
	url = https://github.com/ocanath/byte-stuffing
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
